In [1]:
import pandas as pd

In [2]:
df = pd.read_spss("./Data/private_landlord_survey/UKDA-8455-spss/spss/spss24/epls_2018_forarchive.sav")

In [5]:
df["LLCat1"].unique()

['As an individual or group of individuals', 'Other (please specify)', 'As part of a company', NaN]
Categories (3, object): ['As an individual or group of individuals', 'As part of a company', 'Other (please specify)']

In [6]:
df.head()

,serial_2,RoleTyp,Outcome,Confirm,LLCat1,LLEmpl01,LLEmpl02,LLEmpl03,LLEmpl04,LLEmpl05,...,modmktB,LLeth2cat,AgtproB2,Age4cat,grosswt_registrants,scwt_registrants,grosswt_landlords,scwt_landlords,grosswt_tenancies,scwt_tenancies
0,101638.0,Landlord,Complete productive,Yes,As an individual or group of individuals,No,No,No,No,Yes,...,"£100,000 to £199,999",White,NaN,65 and over,99.404409,1.991612,118.872107,0.602786,98.617782,0.225888
1,101586.0,Landlord,Complete productive,Yes,As an individual or group of individuals,No,No,No,No,Yes,...,"£500,000 to £999,999",White,none,65 and over,99.404409,1.991612,118.872107,0.602786,98.617782,0.225888
2,105848.0,Landlord,Complete productive,Yes,As an individual or group of individuals,Yes,No,No,No,No,...,"£200,000 to £499,999",White,NaN,35-44,99.404409,1.991612,118.872107,0.602786,98.617782,0.225888
3,106053.0,Landlord,Complete productive,Yes,As an individual or group of individuals,No,No,No,No,Yes,...,"£200,000 to £499,999",White,NaN,65 and over,99.404409,1.991612,118.872107,0.602786,98.617782,0.225888
4,104202.0,Landlord,Complete productive,Yes,Other (please specify),NaN,NaN,NaN,NaN,NaN,...,"£500,000 to £999,999",NaN,NaN,NaN,99.404409,1.991612,118.872107,0.602786,98.617782,0.225888